/*code nhung thanh phan cau hinh chung*/
:root {
    --text-color: #333;
}

*{
    box-sizing: inherit;
}

html {
    
    font-family: Arial, Helvetica, sans-serif /*'font web', sans-serif;*/;
    box-sizing: border-box;
}

/* Tuong thich voi thiet bi */
.grid {
    
    max-width: 100%;
    
}

.grid__full-width {
    width: 100%;
}

/* The nam trong class nay se nam 1 hang ngang */
.grid__row{
    display: flex;
    flex-wrap: wrap;
}