/*Code nhung thanh phan rieng*/
ul.menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #4db2ec;
}
ul.menu>li{
    width: 25%;
    text-align: center;
    border-left: 1px solid white;
}
ul.menu>li>a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
}
ul.menu>li>a>span{
    display: block;
}
