*{
    box-sizing: inherit;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
:root {
    --text-color: white;
    --background-color:#0e2346; 
    --header-color: #1585d4;
    --hover-color: rgb(27, 133, 174);
}

.header_top{
    position: sticky;
    z-index: 1000;
    top: 0;
}
.navbar-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: var(--background-color);
    z-index: 999; 
}
.navbar-item{
    width: 25%;
    text-align: center;
    border-right: 1px solid white;
    position: relative;
}
.contents{
    color: var(--text-color);
    display: block;
    text-decoration: none;
    padding: 15px;
}
.contents img{
    width: 100%;
}
.item_s{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px 0px;
}
.item{
    display: block;
    text-decoration: none;
    padding: 15px;
    border: 1px solid;
    margin: 5px;
    border-radius: 0 20px;
    font-weight: bold;
}
.item:hover{
    background-color: rgb(27, 133, 174);
    
}
.dropdown-content{
    display: none;
    background-color: var(--background-color);
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar-item:hover .dropdown-content{
    display: block;
    position: absolute;
}
.navbar-item:hover{
    background-color: #384696;
    
}
  
.mySlides {
    display: none;
}

.mySlides>img {
    vertical-align: middle;
    width: 100%;
    height: 500px;
}

/* Slideshow container */
.slideshow-container {

    position: relative;
    margin-top: 10px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgb(42, 37, 37);
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade{
    from {opacity: .4}
    to{opacity: 1}
}

@keyframes fade{
    from {opacity: .4}
    to{opacity: 1}
}

/* @media screen and (max-width:930px) */
    

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

footer{
    
    bottom: 0;
    padding: 20px;
    width: 100%;
    text-align: left;
    margin-top: 80px;
    box-sizing: border-box;
    background-color: var(--background-color);
}


.footer-left, .footer-center, .footer-right{
    display: inline-block;
    vertical-align: top;
    width: 33%;
    padding-left: 40px;
}
footer a{
    text-decoration: none;
    color: white;
}

.footer-left img{
    width: 100%;
    vertical-align: middle;
}

.footer-left .credit{
    width:30%;
    margin: 0 auto;
}



.list-items >li :hover{
    color:var(--hover-color);
}

.list-items{
    list-style-type: none;
    padding: 0;
}

ul.list-items > li{
    display: block;
    padding: 10px 0px;
    font-size:14px;
}  

.list-items > li >i{
    padding: 0 10px 0 0;
    
}

div.title {
    font-weight: bold;
    color: var(--header-color);
}


/* container */
.container{

}

#menu{
    width: 100%;
/* border: 1px solid white; */
/* height: 100px; */
background-color: white;
font-family: Helvetica, sans-serif;
font-size: 13px;
/* margin-top: 40px; */
}
    

#menu ul{
    background:rgba(200, 196, 196, 0.41);
    
    display: flex;
  
}

#menu ul li{

    list-style-type: none;
    /* display: flex; */
    display: block;
    /* margin-left: 120px; */
    position: flex;
    width: 25%;
    
}

#menu ul li a:link {

   color: #FFF;

   text-decoration: none;

   text-transform: uppercase;
   
   padding: 10% 30%;
}           

#menu ul li a:visited{

   color: #FFF;

   text-decoration: none;

   text-transform: uppercase;

}       


#menu ul li a:hover{

   color: #FFF;

   background-color: rgba(200, 196, 196, 0.41);

   /* -webkit-box-shadow: 0px 4px 5px rgba(50, 50, 50, 0.93);

   -moz-box-shadow:    0px 4px 5px rgba(50, 50, 50, 0.93);

   box-shadow:         0px 4px 5px rgba(50, 50, 50, 0.93); */

}

/*kenh truyen hinh*/
.pic-items{
    width: 100%;
    height: 130px;
    background:rgba(200, 196, 196, 0.41);
}
#menu-items {
    display: flex;
    
}
#menu-items #items-channel{
    width: 20%;
    height: 128px;
    padding: 30px;
    border: 3px solid rgb(226 206 180);
}

#menu-items #items-channel>a img{
    width: 100%;
    display: block;
    overflow: hidden;
}
#items-channel:hover{
    background-color: rgb(171, 203, 230);
}
